@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Space+Mono&display=swap");

body {

  display: grid;
  background-color: hsl(212, 45%, 89%); 
  min-height: 100vh;
  font-family: sans-serif;
  place-items: center;
}

.qr-img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
#inner-box {
  max-width: 300px;
  background-color: hsl(0, 0%, 100%);
  display: grid;
  place-items: center;
  padding: 15px;
  position: relative;
  border-radius: 15px;
}
.heading {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
}
.message{
    margin: 30px 0 5px 0;
}
p {
  font-family: "Outfit", sans-serif;
  color: hsl(220, 15%, 55%);
}
